/* css for page transition */
.transition-wrapper {
    position: relative;
    z-index: 1;
    .transition-item {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
    }
}

.first-page {
    overflow: auto;
    overflow-x: hidden;
    box-sizing: border-box;
    height: 100vh;
    background-color: #fff;
    @include transition(transform 0.5s, opacity 0.5s);
    @include transform(translateZ(0));
    &.transition-appear {
        opacity: 0;
        @include transform(translate3d(-100%, 0, 0));
        &.transition-appear-active {
            opacity: 1;
            @include transform(translateZ(0));
        }
    }
    &.transition-leave {
        opacity: 1;
        @include transform(translateZ(0));
        &.transition-leave-active {
            opacity: 0;
            @include transform(translate3d(-100%, 0, 0));
        }
    }
}

.second-page {
    overflow: auto;
    overflow-x: hidden;
    box-sizing: border-box;
    height: 100vh;
    background-color: #fff;
    @include transition(transform 0.5s, opacity 0.5s);
    &.transition-appear {
        opacity: 0;
        @include transform(translate3d(100%, 0, 0));
        &.transition-appear-active {
            opacity: 1;
            @include transform(translateZ(0));
        }
    }
    &.transition-leave {
        opacity: 1;
        transform: translateZ(0);
        &.transition-leave-active {
            opacity: 0;
            @include transform(translate3d(100%, 0, 0));
        }
    }
}
